*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 25px;
    background-color:  hsl(204, 43%, 93%);
    display: flex;
    justify-content: center;
}

header{
    padding: 35px 20px;
    background-color: white;
    border-radius: 2% 2% 0 0;
    -webkit-border-radius: 2% 2% 0 0;
    -moz-border-radius: 2% 2% 0 0;
    -ms-border-radius: 2% 2% 0 0;
    -o-border-radius: 2% 2% 0 0;
}

header p:first-of-type{
     color:  hsl(71, 73%, 54%);
     font-weight: bold;
     font-size: 18px;
     margin-bottom: 25px;
}

header p:last-of-type{
    color:  hsl(218, 22%, 67%);
    line-height: 1.8;
    letter-spacing: -0.6px;
}

h1{
    color:  #2ab2afff;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

main{
    color: white;
}

/* .component{
    width: 60%;
} */

.one, .two{
     padding: 20px;
    }

.one{
    background-color:  #2ab2afff;
}

.one button{
    color: inherit;
    background-color: hsl(71, 73%, 54%);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 10px 5px 15px   #3e9d9b;
    font-weight: 600;
}

.one h2{
    margin-bottom: 15px;
    font-size: 1.2em;
}

.one p:first-of-type{
    font-size: xxx-large;

}

.one p:last-of-type{
    margin-bottom: 30px;
}

.one span{
    color: hsl(204, 43%, 93%);
    font-size: initial;
    position: relative;
    left: 15px;
    bottom: 10px;
}

.two{
    background-color:  hsl(185, 63%, 61%);
    border-radius: 0 0 2% 2%;
    -webkit-border-radius: 0 0 2% 2%;
    -moz-border-radius: 0 0 2% 2%;
    -ms-border-radius: 0 0 2% 2%;
    -o-border-radius: 0 0 2% 2%;
}

.two h2{
    margin-bottom: 15px;
}

.two p{
    line-height: 1.5;
    color: hsl(204, 43%, 93%);
}

@media (min-width:640px){
    main, p{
        font-size: 1.2rem;
    }

    h1{
        font-size: 2em;
    }

    header{
        border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        -ms-border-radius: 10px 10px 0 0;
        -o-border-radius: 10px 10px 0 0;
    }

    header p:last-of-type{
        display: flex;
        flex-direction: column;
    }

    main{
        display: flex;
        flex-direction: row;
    }

    section{
        width: 50%;
        /* padding: 35px; */
    }

    .component{
        /* width: 60%; */
    }

    .one, .two{
        padding: 35px;
    }

    .one{
        border-radius: 0 0 0 10px;
        -webkit-border-radius: 0 0 0 10px;
        -moz-border-radius: 0 0 0 10px;
        -ms-border-radius: 0 0 0 10px;
        -o-border-radius: 0 0 0 10px;
    }

    .two{
        border-radius: 0 0 10px 0;
        -webkit-border-radius: 0 0 10px 0;
        -moz-border-radius: 0 0 10px 0;
        -ms-border-radius: 0 0 10px 0;
        -o-border-radius: 0 0 10px 0;
    }
}

@media (min-width:864px){
    .one button{
        margin-top: 30px;
    }
}

@media (min-width:1440px){
    body{
        /* display: flex;
        justify-content: center; */
    }
    
    

    .component{
        width: 60%;
    }

    .two{
        padding: 35px 0 35px 35px;
    }

    


}

